@use 'commerce/commerce';

body {
  font-family: 'bodycommerce' !important;
}

.default-title-font {
  font-family: 'titlecommerce' !important;
}

.default-body-font {
  font-family: 'bodycommerce' !important;
}

.font-weight-bolder {
  font-weight: bolder !important;
}

.mdc-text-field--filled .mdc-floating-label,
.mdc-text-field--outlined .mdc-floating-label,
.mat-mdc-checkbox .mdc-label,
.mdc-button .mdc-button__label,
.tsd-table__content .mat-sort-header-content,
.tsd-table__header,
.tsd-table__sub-header,
.mdc-button__label,
.mdc-tooltip__surface {
  @extend .default-title-font;
}

.tsd-hint,
.tsd-custom-error,
.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control,
.mat-mdc-snack-bar-label,
.tsd-modal__title,
.tsd-modal__content,
.mdc-list-item,
.tsd-table__content .mdc-data-table__cell,
.mat-mdc-paginator-container,
.mat-mdc-select-min-line,
.mat-calendar-body-label,
.mat-calendar-table-header,
.mat-calendar-body-cell-content {
  @extend .default-body-font;
}

.bolder {
  font-weight: bolder;
}
