<div class="tsd-form-container">
  <mat-form-field
    [floatLabel]="config.floatLabel || 'auto'"
    [class.tsd-form-field-invalid]="isInvalid || (isSubmitted && control.invalid)"
    [appearance]="config.appearance || defaultAppearance"
    [color]="config.color || 'primary'"
  >
    <mat-label>
      <ng-content />{{ ' ' }}
      @if (required && !config.dangerXHidden) {
        <span class="tsd-field__danger-x">*</span>
      }
    </mat-label>
    <input
      matInput
      [autocomplete]="config.autocomplete || 'off'"
      [matAutocomplete]="auto"
      [value]="value"
      (keyup)="onChange($event)"
      (change)="onChange($event)"
      [placeholder]="placeholder"
      [disabled]="isDisabled"
      [attr.minLength]="config.minLength"
      [attr.maxLength]="config.maxLength"
      (focus)="onFocus()"
      (focusout)="onFocusOut()"
    />
    @if ((control.value || value) && config.hasClearButton && !disabled) {
      <button
        matSuffix
        mat-icon-button
        class="tsd-suffix-button"
        type="button"
        (click)="onClearControl()"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-autocomplete #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option
          [value]="option[config.value!]"
          (onSelectionChange)="emit($event)"
          (click)="emitWithClick(option)"
          [title]="option[config.value!]"
        >
          @if (notSuggestions) {
            <span class="tsd-auto-complete-not-records"> No se encuentran resultados </span>
          } @else {
            @if (config.complement && config.complementType && config.complementType === 1) {
              {{ option[config.complement] }} -
            }
            {{ option[config.value!] }}
            @if (config.complement && config.complementType && config.complementType === 2) {
              <span class="tsd-option-span-extra">{{ option[config.complement] }}</span>
            }
          }
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  @if (isInvalid || (isSubmitted && control.invalid)) {
    <tsd-error [control]="control" />
  }
</div>
