mat-form-field {
  width: 100%;
}

.tsd {
  &-suffix-button {
    margin-right: 10px;
  }
  &-hint {
    color: var(--tsd-form-field-hint-color);
  }
  &-option-span-extra {
    color: var(--tsd-option-span-extra);
    &::before {
      content: '\A';
      white-space: pre;
    }
  }
  &-custom-error {
    text-align: left;
    margin-left: 5px;
    color: var(--tsd-form-field-error-color);
    font-size: 12px;
  }
  &-form-container {
    mat-form-field {
      width: calc(100% - 10px);
    }
    .mat-form-field-invalid {
      .tsd-hint,
      .tsd-suffix-button {
        color: var(--tsd-form-field-error-color);
      }
      .mdc-floating-label,
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input,
      .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: var(--tsd-form-field-error-color) !important;
      }
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after,
      .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
        border-bottom-color: var(--tsd-form-field-error-color) !important;
      }
      .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
        border-color: var(--tsd-form-field-error-color) !important;
      }
    }
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}
.mat-mdc-form-field-focus-overlay {
  background-color: transparent !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label
  .tsd-field__danger-x,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-floating-label
  .tsd-field__danger-x {
  color: var(--tsd-form-field-error-color);
}
