@use 'buttons';
@use 'fields';
@use 'modal';
@use 'toasts';

html {
  --tsd-form-field-hint-color: rgb(128, 128, 128);
  --tsd-form-field-error-color: rgb(255, 0, 0);
  --tsd-option-span-extra: gray;
  --tsd-snackbar--notification-color: rgb(39, 39, 39);
  --tsd-snackbar--notification-background-color: var(--mat-sys-primary-fixed-dim);
  --tsd-snackbar--notification-button-color: var(--mat-sys-primary);
  --tsd-snackbar--danger-color: rgb(39, 39, 39);
  --tsd-snackbar--danger-background-color: rgba(255, 156, 156, 0.85);
  --tsd-snackbar--danger-action-button-color: #fd2626;
  --tsd-snackbar--success-color: rgb(39, 39, 39);
  --tsd-snackbar--success-background-color: rgba(223, 246, 234, 0.925);
  --tsd-snackbar--success-action-button-color: #004646;
}
