$custom-palette: (
  0: #000000,
  10: #001f23,
  20: #00363b,
  25: #004248,
  30: #004f56,
  35: #005c64,
  40: #006972,
  50: #00848f,
  60: #05a0ad,
  70: #3ebbc8,
  80: #60d7e4,
  90: #8af2ff,
  95: #cbf9ff,
  98: #ebfdff,
  99: #f5feff,
  100: #ffffff,
  secondary: (
    0: #000000,
    10: #002111,
    20: #003920,
    25: #004528,
    30: #005231,
    35: #005f39,
    40: #006d42,
    50: #008955,
    60: #00a668,
    70: #2fc27f,
    80: #53df98,
    90: #73fcb3,
    95: #c0ffd6,
    98: #e9ffed,
    99: #f5fff5,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1d1b1e,
    20: #323033,
    25: #3d3a3e,
    30: #49464a,
    35: #545155,
    40: #605d61,
    50: #7a767a,
    60: #948f94,
    70: #aeaaae,
    80: #cac5ca,
    90: #e6e1e6,
    95: #f5eff4,
    98: #fef8fc,
    99: #fffbff,
    100: #ffffff,
    4: #0f0d11,
    6: #151316,
    12: #211f22,
    17: #2b292d,
    22: #363437,
    24: #3b383c,
    87: #ded8dd,
    92: #ede6eb,
    94: #f2ecf1,
    96: #f8f2f6,
  ),
  neutral-variant: (
    0: #000000,
    10: #1d1a22,
    20: #332f37,
    25: #3e3a42,
    30: #49454e,
    35: #55515a,
    40: #615c66,
    50: #7b757f,
    60: #958e99,
    70: #b0a9b3,
    80: #cbc4cf,
    90: #e8e0eb,
    95: #f6eef9,
    98: #fef7ff,
    99: #fffbff,
    100: #ffffff,
  ),
);
