[data-theme='light'] {
  --tsd-loader-double-bounce1: #fcc02e;
  --tsd-loader-double-bounce2: #03a9f4;
  --tsd-loader-overlay-backdrop-background-color: rgba(0, 0, 0, 0.048);
}

html {
  --tsd-loader-double-bounce1: #fcc02e;
  --tsd-loader-double-bounce2: #03a9f4;
  --tsd-loader-overlay-backdrop-background-color: rgba(255, 255, 255, 0.048);
}

.tsd-double-bounce1 {
  background: var(--tsd-loader-double-bounce1);
}
.tsd-double-bounce2 {
  background: var(--tsd-loader-double-bounce2);
}
.tsd-double-bounce1,
.tsd-double-bounce2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: 0.6;
  position: absolute;
  animation: tsdSkBounce 2s infinite ease-in-out;
}
.tsd-double-bounce2 {
  animation-delay: -1s;
}
.tsd-app-loader,
.tsd-view-loader {
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.tsd-loader-spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: auto;
}
.tsd-double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.tsd-view-loader {
  display: block;
  z-index: 998;
  max-height: calc(100vh);
  margin: auto;
  background: var(--tsd-loader-overlay-backdrop-background-color);
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
}
.tsd-view-loader * {
  margin: auto;
}
@-webkit-keyframes tsdSkBounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}
@keyframes tsdSkBounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
